body{
    margin: 0;
}

.menu p{
    color: white;
}

.logo img{
    position: absolute;
    height: 40px;
    left: 500px;
    top:15px;

}

.nav{
    /* align-items: center;
    justify-content: space-around; */
    width: 100vw;
    height: 7vh;
    background-color: black;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}